body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0px 20px;
}

button {
    padding: 4px 6px;
    font-weight: 700;
    background-color: #e0f0ff;
    border-radius: 3px;
    border: 1px solid #BFBEBE;
    font-size: 70%;
}

button:hover {
    background-color: #b8ddff;
    cursor:pointer;
}

button:active {
    background-color: #61b2fd;
}


a {
  outline: none;
}

a:link {
  color: black;
  font-weight: 500;
}

a:visited {
  color: black;
}

a:hover {
  color: #686868;
}


#footer {
    margin: 10px 0px;
    font-weight: 100;
}

#buttons {
    background-color: #f2f2f2;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
}

td {
    font-weight: 100;
    width:140px;
}
input {
    font-weight: 500;
    width:40px;
    padding: 3px 4px;

    border-radius: 2px;
    border:1px solid #adddb9;
}

table {
    margin: 5px 0px 10px 0px;
}

ion-icon {
    position: relative;
    top: 1px;
}

canvas {
    border:1px solid black;
    box-shadow: 0px 0px 15px #bbb8b8;
    cursor:pointer;
}